* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
    height: 100vh;
    transition: background-image 3s ease-in-out;
}

h1 {
    font-size: 20vw;
    margin-bottom: -1vh;
}

.shadow-back {
    background: rgba(0,0,0,.2);
    box-shadow: 0 0 20px 20px rgba(0,0,0,.2);
}

.focus-string {
    justify-content: center;
    margin: 0 1%;
}

#datestring {
    font-size: 5vw;
    margin-bottom: 9vh;
}

.name-str { font-size: 5vw; }

.greet-name { margin-bottom: 3vh; }

#focus {
    font-size: 3vh;
    background-color: transparent;
    color: white;
    max-width: 50vw;
    padding: 0 5px;
    border: transparent 1px solid;
    transition: 0.5s;
}
#focus:hover, #usernamefield:hover {
    cursor: pointer;
    border-color: darkgrey;
}

.focus-str { font-size: 3vh; }
#usernamefield {
    min-width: 3vw;
    background-color: transparent;
    border: transparent 1px solid;
    color: white;
    width: 34vw;
    padding: 0 5px;
    transition: 0.5s;
}

.wthr-container {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(37,37,37,.4);
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

#wthricon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#city {
    background-color: transparent;
    color: #F5F6F7;
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}
.changeBgnd {
   position: fixed;
   background: rgba(255,255,255,.4);
   width: auto;
   height: 30px;
   top: 0;
   left: 0;
}

.quote-container {
    background: #373737;
    position: fixed;
    right: 20px;
    top: 30px;
    width: 300px;
    height: 120px;
    border: 1px solid #DDD;
    padding: 5px;
}

#quote-author {
    margin-left: 30px;
    margin-top: 10px;
}

#next-quote {
    position: absolute;
    bottom: 0;
    right: 0;
}
